body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  }
  nav {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 12;
  }
  nav .menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .menu .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    border-radius: 8px;
  }
  .menu .logo a:hover {
    background: #fff;
    color: black;
  }
  .menu ul {
    display: inline-flex;
  }
  .menu ul li {
    list-style: none;
  }
  .menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 15px;
    transition: all 0.3s ease;
  }
  .menu ul li a:hover {
    background: #fff;
    color: black;
  }
  .img {
    background: url("Backgroundhome.jpg") no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .img::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
  .center {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
  .title {
    color: #fff;
    font-size: 55px;
    font-weight: 600;
    position:relative;top: 0px;
  }
  .center .sub_title {
    color: #fff;
    font-size: 32px;
    font-weight: 300;
  }
